.companies {
    display: flex;
    flex-grow: 1;
    max-width: 250px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    background-color: $light_grey;
}

.companies {
    padding: 1rem;
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: $grey $dull_white;
    scrollbar-width: thin;
}

.companies::-webkit-scrollbar {
    width: 10px;
}

.companies::-webkit-scrollbar-track {
    background-color: $dull_white;
    border-radius: 100px;
}

.companies::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: $grey;
    box-shadow: inset 2px 2px 5px 0 rgba($white, 0.5);
}

.companies__list {
    margin: 0;
    padding: 3vw;
    list-style-type: none;
}

.companies__item {
    margin-bottom: 30px;
    line-height: 45px;
}

.companies__item-link {
    text-decoration: none;
    line-height: 30px;
    border-bottom: 2px solid $dark_blue;
    color: $dark_blue;

    &:hover {
        color: $hover_dark_blue;
    }
}

@media (max-width: $tablet_min_width) {
    .companies {
        padding: 0 10px;
        font-size: 24px;
    }

    .companies__list {
        padding: 4vw 2vw;
    }

    .companies__item {
        margin-bottom: 20px;
    }
}
