.notFound {
  font-size: 18px;
  text-align: center;
}

.notFound__image {
  margin-top: 100px;
}

.notFound__error {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

.notFound__text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}

.notFound__link {
  background-color: $grey;
  padding: 7px 20px;
  color: $white;
  text-decoration: none;
}

.notFound__link:hover {
  background-color: $hover_grey;
}
