$black: #000000;
$white: #ffffff;
$hover_white: #f0f0f0;
$dull_white: #eaeaea;
$grey: #4e4e4e;
$dark_grey: #1b1b1b;
$hover_grey: #b2b2b2;
$light_grey: #ececec;
$hover_purple: #3528ae71;
$purple: #6862a3c0;
$pink: #ff6d91;
$dark_pink: #ff1f7137;

$desktop_width: 1200px;
$tablet_width: 991px;
$tablet_min_width: 767px;
$mobile_width: 585px;
