.company_emty {
    margin: 30px 50px;
    font-family: "Rubik", sans-serif;
    font-size: 24px;
}

.company-info {
    display: flex;
    flex-direction: column;
    padding: 60px 30px 30px 60px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.company-info__title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
}

.company-info__mail {
    margin-bottom: 70px;
    color: rgb(79, 70, 144);
}

.company-info__bays {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 38px;
}

.company-info__bays-number {
    font-size: 24px;
}

.company-info__boxes {
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.company-info__boxes-input {
    width: 50vw;
    max-width: 450px;
    padding: 3px;
    padding-left: 10px;
    margin-top: 14px;
    border: 2px solid $black;
    font-size: 16px;
    line-height: 30px;
}

@media (max-width: $tablet_min_width) {
    .company-info {
        padding: 30px 20px 30px 30px;
    }

    .company-info__title {
        font-size: 40px;
    }

    .company-info__mail {
        margin-bottom: 40px;
        font-size: 12px;
    }

    .company-info__bays {
        font-size: 18px;
    }

    .company-info__boxes {
        font-size: 18px;
    }

    .company-info__boxes-input {
        font-size: 10px;
        line-height: 26px;
    }

}

@media (max-width: $mobile_width) {
    .company-info {
        margin: 20px 40px;
        max-width: 250px;
    }
}