.layout__container {
    max-height: 100%;
    display: grid;
    grid-template-rows: 142px 871px;
}

.layout__main {
    position: relative;
    display: grid;
    grid-template-columns: 250px 1fr;
}

@media (max-width: $tablet_width) {
    .layout__container {
        grid-template-rows: 150px 863px;
    }
    
    .layout__main {
        grid-template-columns: 200px 1fr;
    }
}

@media (max-width: $mobile_width) {
    .layout__container {
        grid-template-rows: 140px 873px;
    }

    .layout__main {
       display: block;
    }
}