.layout__container {
    max-height: 100%;
    display: grid;
    grid-template-rows: 14vh 86vh;
}

.layout__main {
    position: relative;
    display: grid;
    grid-template-columns: 340px 1fr;
}

@media (max-width: $tablet_width) {
    .layout__container {
        grid-template-rows: 172px 841px;
    }
    
    .layout__main {
        grid-template-columns: min-content 1fr;
    }
}

@media (max-width: $mobile_width) {
    .layout__container {
        grid-template-rows: 152px 861px;
    }
}