.header {
    display: flex;
    padding: 36px 35px;
    background-image: linear-gradient($grey, $dark_grey 95%, $hover_grey);
}

.header__title {
    align-self: center;
    margin-right: 70px;
    min-width: max-content;
    color: $dull_white;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__search {
    display: grid;
    grid-template-columns: 60px 1fr;
    margin-right: 3vw;

    &:hover {
        outline: 3px solid $hover_grey;
        border-radius: 2em;
    }

    &:focus-within {
        outline: 3px solid $white;
        border-radius: 2em;
    }
}

.header__search-icon {
    max-height: 36px;
    padding: 5px 10px 15px;
    border: none;
    border-radius: 2.3em 0 0 2.3em;
    background-color: $white;

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: $light_grey;
    }
}

.header__search-input {
    width: 38vw;
    max-height: 36px;
    padding: 2px 0px;
    border: none;
    border-radius: 0 2em 2em 0;
    font-size: 20px;
    line-height: 30px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-size: 16px;
    }
}

.header__buttons {
    display: flex;
    gap: 20px;
}

.button {
    padding: 9px 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 0.4rem;
    background-color: $white;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    &:focus {
        border: none;
        outline: 3px solid $white;
    }

    &:active {
        outline: 3px solid $black;
    }
}

@media (max-width: $desktop_width) {
    .header {
        max-height: min-content;
        padding-bottom: 25px;
    }

    .header__buttons {
        align-self: center;
    }

    .header__search {
        align-self: center;
    }

    .header__search-input {
        max-width: 28vw;
    }
}

@media (max-width: $tablet_width) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header__title {
        margin-top: 0;
        margin-right: 0;
    }

    .header__container {
        align-items: center;
        gap: 30px;
    }

    .header__search {
        height: 30px;
        margin: 0;
    }

    .header__search-input {
        max-height: 26px;
    }

    .header__search-icon {
        height: 30px;

        & svg {
            height: 30px;
        }
    }

    .header__buttons {
        margin-top: 0;
    }

    .button {
        padding: 6px 20px;
    }
}

@media (max-width: $mobile_width) {
    .header {
        padding: 30px 15px;
    }

    .header__search {
        grid-template-columns: 30px 1fr;
    }

    .header__search-input {
        padding-left: 5px;
        font-size: 18px;
        line-height: 24px;

        &::placeholder {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .header__search-icon {

        & svg {
            margin-top: -2px;
            margin-left: -5px;
        }
    }
}